@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Radiostation.WebUI.Models.Account.LoginModel

<div class="col-sm-4">
    <h2>Вход в приложение</h2>
    <form class="form-group" method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Login"></label><br/>
            <input class="form-control" asp-for="Login"/>
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br/>
            <input class="form-control" asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="m-2">
            <input class="btn btn-success" type="submit" value="Войти"/>
        </div>
    </form>
</div>